<nav class="text-sm font-medium text-slate-700" aria-label="breadcrumb">
  <ol class="flex flex-wrap items-center gap-x-[10px]">
    <li class="flex items-center uppercase text-body5 tracking-[2px] gap-x-[10px]">
      <a href="index.html" class="text-white">home</a>
      <svg xmlns="http://www.w3.org/2000/svg" width="2" height="3" viewBox="0 0 2 3" fill="none">
        <circle cx="1" cy="1.5" r="1" fill="white"/>
      </svg>
    </li>
    <li class="flex items-center uppercase text-body5 tracking-[2px] text-white font-bold" aria-current="page">How It Works</li>
  </ol>
</nav>
