<section class="">
  <div class="max-w-[1217px] lg:mx-5 mx-auto rounded-4xl overflow-hidden bg-white shadow-v2 border border-Grey4 pt-12 px-12 lg:px-5 lg:py-8">
    <div class="container px-0">
      <div class="row gap-x-6 lg:gap-x-0">
        <div class="col-span-5 lg:col-span-12">
          <div class="relative h-full">
            @@include('Animated-circle.html', {
            "Style": "absolute bottom-[94px] z-[2] -left-2"
            })
            @@include('Animated-circle.html', {
            "Style": "absolute bottom-1/2 z-[2] right-0"
            })
            <div class="flex flex-col gap-y-6 relative lg:mb-6 z-[3]">
              <h3 class="text-h2_2 lg:text-Top5 font-bold text-DarkBlue">Ready to launch your <span class="text-Red">U.S.</span>
                business?</h3>
              <p class="text-base lg:text-body font-medium">Get a free consultation today. <br>
                BizEntry — your gateway to the U.S. <br>
                No visa. No stress. Guaranteed.</p>
            </div>
            <div class="img-bg-1 absolute bottom-5 left-0 z-0"></div>
            <img class="w-full absolute left-0 bottom-0 z-[1] lg:relative lg:hidden" src="__IMAGE_PATH__businessman-04-3.png" alt="Ready to launch your U.S. business?">
            <img class="w-full absolute left-0 bottom-0 z-[1] lg:relative minlg:hidden max-w-[350px] mx-auto" src="__IMAGE_PATH__businessman-04-3--mob.png" alt="Ready to launch your U.S. business?">
          </div>
        </div>
        <div class="col-span-7 lg:col-span-12 relative">
          <div class="max-w-[573px] lg:max-w-full flex flex-col w-full ml-auto">
            @@include('Form-component.html')
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
