<section class="">
  <div class="container rounded-4xl overflow-hidden bg-white shadow-v2 border border-Grey4 pt-12 px-12">
    <div class="row gap-x-6">
      <div class="col-span-5">
        <div class="relative h-full">
          @@include('Animated-circle.html', {
          "Style": "absolute bottom-[94px] z-[2] -left-2"
          })
          @@include('Animated-circle.html', {
          "Style": "absolute bottom-1/2 z-[2] right-0"
          })
          <div class="flex flex-col gap-y-6 relative z-[3]">
            <h3 class="text-h2_2 font-bold text-DarkBlue">Ready to launch your <span class="text-Red">U.S.</span>
              business?</h3>
            <p class="text-base font-medium">Get a free consultation today. <br>
              BizEntry — your gateway to the U.S. <br>
              No visa. No stress. Guaranteed.</p>
          </div>
          <div class="img-bg-1 absolute bottom-5 left-0 z-0"></div>
          <img class="w-full absolute left-0 bottom-0 z-[1]" src="__IMAGE_PATH__businessman-04-3.png" alt="Ready to launch your U.S. business?">
        </div>
      </div>
      <div class="col-span-7 relative">
        <div class="max-w-[573px] flex flex-col w-full ml-auto">
          <form class="flex flex-col gap-y-5" action="">
            <div class="flex flex-col gap-y-2">
              @@include('input.html', {
              "common-style": "",
              "StyleLabel": "hidden",
              "idInput": "nameID",
              "label": "Full Name",
              "styleInput": "",
              "type": "text",
              "placeholder": "Full Name",
              "Name": "fullName",
              "errorStyle": "hidden",
              })

              @@include('input.html', {
              "common-style": "",
              "StyleLabel": "hidden",
              "idInput": "EmailID",
              "label": "Email",
              "styleInput": "",
              "type": "email",
              "placeholder": "Email",
              "Name": "email",
              "errorStyle": "hidden",
              })

              @@include('input.html', {
              "common-style": "",
              "StyleLabel": "hidden",
              "idInput": "nameID",
              "label": "Full Name",
              "styleInput": "",
              "type": "text",
              "placeholder": "Full Name",
              "Name": "fullName",
              "errorStyle": "hidden",
              })


              @@include('Select.html', {
              "common-style": "",
              "StyleLabel": "hidden",
              "idSelect": "nameID",
              "label": "Full Name",
              "NameSelect": "fullName",
              })

              @@include('textarea.html', {
              "common-style": "",
              "StyleLabel": "hidden",
              "idTextarea": "MesssageID",
              "label": "Messsage",
              "styleTextarea": "",
              "placeholder": "Messsage",
              "Name": "messsage",
              "rows": "6",
              })
            </div>
            <div class="flex flex-col gap-y-2 items-center">
              @@include('button.html', {
              "style": "w-full",
              "type": "submit",
              "ariaLabel": "Send Request button",
              "title": "Send Request",
              })
              <div class="flex gap-x-2 mb-6">
                <p class="whitespace-nowrap text-body2 text-DarkBlue font-semibold">Privacy Notice:</p>
                <p class="text-body2 font-medium">All inquiries are handled with strict confidentiality. We never share your data with third parties
                  and only contact you as requested.</p>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
