.img-bg-1 {
  background: url("__IMAGE_PATH__img-bg-1.png") white -18.959px 0px / 108.742% auto no-repeat;
  opacity: 1;
  height: 301px;
  width: 571px;
}

.img-bg-2 {
  background: url("__IMAGE_PATH__img-bg-2.png") white -18.959px 0px / 108.742% auto no-repeat;
  opacity: 1;
}

//.bg-Blue2 {
//  background: url("__IMAGE_PATH__bg-Blue2.png");
//  background-size: 100% auto;
//  background-repeat: repeat;
//  background-position: center center;
//}

.img-bg-4 {
  background: url("__IMAGE_PATH__img-bg-4.png") white center / cover no-repeat;
  opacity: 1;
}

.img-bg-5 {
  background: url("__IMAGE_PATH__img-bg-5.png") 0px -0.04px / 100% 700px no-repeat;
  opacity: 1;
}


.img-bg-6 {
  background: url("__IMAGE_PATH__img-bg-6.png") #192C62 center / cover no-repeat;
  opacity: 1;
}

.Company-Formation-icon {
  background: url("__IMAGE_PATH__Company-Formation-icon.svg");
  @apply block h-[48px] w-[48px] min-w-[48px] bg-100-auto bg-center bg-no-repeat;
}

.money-cash-bill {
  background: url("__IMAGE_PATH__money-cash-bill.svg");
  @apply block h-[48px] w-[48px] min-w-[48px] bg-100-auto bg-center bg-no-repeat;
}

.cash-briefcase2 {
  background: url("__IMAGE_PATH__cash-briefcase2.svg");
  @apply block h-[48px] w-[48px] min-w-[48px] bg-100-auto bg-center bg-no-repeat;
}

.business-deal-handshake2 {
  background: url("__IMAGE_PATH__business-deal-handshake2.svg");
  @apply block h-[48px] w-[48px] min-w-[48px] bg-100-auto bg-center bg-no-repeat;
}

.business-cash-target {
  background: url("__IMAGE_PATH__business-cash-target.svg");
  @apply block h-[48px] w-[48px] min-w-[48px] bg-100-auto bg-center bg-no-repeat;
}

.business-cash-shield {
  background: url("__IMAGE_PATH__business-cash-shield.svg");
  @apply block h-[48px] w-[48px] min-w-[48px] bg-100-auto bg-center bg-no-repeat;
}

.business-deal-handshake {
  background: url("__IMAGE_PATH__business-deal-handshake.svg");
  @apply block h-[48px] w-[48px] min-w-[48px] bg-100-auto bg-center bg-no-repeat;
}

.cash-briefcase {
  background: url("__IMAGE_PATH__cash-briefcase.svg");
  @apply block h-[48px] w-[48px] min-w-[48px] bg-100-auto bg-center bg-no-repeat;
}

.businessman-4 {
  background: url("__IMAGE_PATH__businessman-4.png");
  @apply block h-[67px] w-[62px] min-w-[62px] bg-100-auto bg-center bg-no-repeat;
}

.product-launch-laptop {
  background: url("__IMAGE_PATH__product-launch-laptop.svg");
  @apply block h-[48px] w-[48px] min-w-[48px] bg-100-auto bg-center bg-no-repeat;
}

.seo-search-graph-first-place {
  background: url("__IMAGE_PATH__seo-search-graph-first-place.svg");
  @apply block h-[48px] w-[48px] min-w-[48px] bg-100-auto bg-center bg-no-repeat;
}

.list-image-1 {
  background: url("__IMAGE_PATH__Red-dot-10.svg");
  @apply block w-5 min-w-5 h-5 bg-100-auto bg-center bg-no-repeat;
}
