// Footer Style Start

/* Hide elements marked with x-cloak until Alpine initializes */
[x-cloak] { display: none !important; }

.bg-footer {
  background: url("__IMAGE_PATH__bg-footer.png") lightgray 50% / cover no-repeat;
  background-size: cover;
}

// Footer Style End

// Button with arrow Style Start

.button {

  &.btn-white {
    @apply bg-white text-Red hover:bg-white border-[1.5px] border-Red hover:shadow-v3 hover:border-Red2 hover:text-Red2 active:border-Error active:text-Error;
  }

  &.medium-btn {
    @apply h-[48px]
  }

  &.disabled {
    @apply bg-Grey hover:bg-Text;
  }

  &.width-full {
    @apply w-full;
  }

  &.width-auto {
    @apply min-w-[0px]
  }

  @apply h-[56px] min-w-[119px] w-fit flex items-center justify-center rounded-full
  text-white text-body text-center whitespace-nowrap font-semibold bg-Red transition-all hover:bg-Red2 active:bg-Error disabled:bg-Red2 disabled:cursor-not-allowed;
}

// Button with arrow Style End

// Checkbox Style Start

// Checkbox Style End

// Pagination Style Start


// Pagination Style End

// FAQ Style Start


// FAQ Style End

// Mega Menu Header Style Start

.show-mobile-menu {
  &__list {
    @apply lg:hidden
  }

  &.active {
    @apply left-0
  }

  @apply transition-all duration-300 lg:overflow-y-auto lg:fixed lg:top-0 lg:-left-[100%] lg:w-[100vw] lg:h-full lg:min-h-screen lg:bg-white lg:z-50 lg:flex lg:flex-col lg:gap-10 lg:py-[38px] lg:pt-[30px] lg:px-[22px];

  ul {
    @apply lg:flex-col lg:items-start lg:gap-y-[15px]
  }
}

// Mega Menu Header Style End

// Splide slider Start


// Splide slider End

// Text Block Style Start


// Text Block Style End

.main-title {
  @apply text-h2 font-bold md:text-h2Mob
}

.section {
  @apply py-24 lg:py-10
}

.Border-wave {
  background: url("../img/icons/Border-wave.svg") repeat-x center;
  background-size: 41px 10px;
  display: block;
  width: 100%;
  height: 10px;
}

.blue-text a {
  color: #004ED5 !important;
}

// Text Content Start
.text-content {

  p {
    @apply text-base mb-5 md:text-body text-Grey font-medium
  }

  ol {
    @apply list-decimal text-base text-Grey font-medium pl-6
  }

  ul {
    @apply list-disc text-base text-Grey font-medium pl-6
  }

  h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    @apply font-bold mb-4 block
  }
}

.text-content--tou {
  h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    @apply text-Grey font-semibold
  }
}

// Text Content End

//
.active-tag {

  span {
    @apply text-blue-100 font-semibold
  }

  @apply border-blue-100
}

.inactive-tag {
  span {
    @apply text-blue-100 font-medium
  }

  @apply border-Grey2
}

//Other
.info-card-block {
  &.active {
    @apply bg-blue-100 text-white
  }
}

.hero-bg:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgba(5, 9, 62, 0.50) 0%, rgba(5, 9, 62, 0.50) 100%);
}

.top-line {
  @apply relative
}

.top-line:before {
  content: '';
  position: absolute;
  right: -12px;
  top: 50%;
  transform: translateY(-50%);
  border-right: 1px solid #05093E1A;
  height: 20px;
  display: block;

  @apply lg:-right-2
}

.w-text {
  max-width: calc(100% - 40px);
}

.icon-40 {
  @apply md:w-10 md:h-10
}

.icon-40-lg {
  @media (max-width: 1023.98px) {
    width: 40px !important;
    height: 40px !important;
    min-width: 40px !important;
  }
}

.icon-72 {
  @media (max-width: 1023.98px) {
    width: 72px !important;
    height: 72px !important;
  }
}

.icon-16 {
  @apply md:w-4 md:h-4 md:min-w-4
}

.icon-25 {
  @apply md:w-[25px] md:h-[25px] md:min-w-[25px]
}

.display-flex {
  display: flex !important;
}

.menu-item-active {
  position: relative;

  &:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% - 10px);
    display: block;
    border-bottom: 2px solid #3D65FF;
  }
}

.consultation-list {
  .consultation-list__item:not(:last-child) {
    padding-bottom: 32px;
    border-bottom: 1px solid #05093E1A;
    margin-bottom: 24px;
  }
}

.outlined-text {
  color: white;
  -webkit-text-stroke: 1px #58C19B;
}

.special-ul {
  padding-left: 0 !important;
  margin-bottom: 0 !important;
}

.no-underline {
  text-decoration: none !important;
}

.bottom-line {
  position: relative;

  &:before {
    content: '';
    position: absolute;
    bottom: -16px;
    left: 0;
    width: 60px;
    display: block;
    border-bottom: 2px solid #58C19B;
  }
}

.pagination-btn {

  &.active {
    @apply bg-green-500 text-white lg:w-6 lg:min-w-6
  }

  @apply hover:bg-green-500 hover:text-white transition-all w-[50px] min-w-[50px] h-[50px] rounded-full flex items-center justify-center border border-blue-500 lg:text-none lg:w-4 lg:h-4 lg:min-w-4 lg:bg-Grey
}

.collapse-block {
  a {
    @apply text-DarkGrey
  }
}

.how-work-slider, .swiper-blog-post {
  padding-bottom: 0 !important;
}

.w-130 {
  width: 300px !important;
}

.pg1 {
  position: relative !important;
  left: auto !important;
  right: auto !important;
  bottom: auto !important;
  top: auto !important;
  transform: none !important;
}

.text-block ol {
  list-style: none !important;

  li {
    position: relative;
    padding-left: 20px;
  }
}

.text-block ol li:before {
  content: '';
  position: absolute;
  background: url("__IMAGE_PATH__list-icon-check30.svg") no-repeat center;
  background-size: 30px 30px;
  width: 30px;
  height: 30px;
  top: -3px;
  left: -25px;
  display: block;
}

.bg-gradient-1 {
  background: linear-gradient(180deg, #FFF 0%, #FAF9FB 56.73%, rgba(255, 235, 231, 0.50) 100%);
}

.bg-gradient-2 {
  background: linear-gradient(0deg, #FFF 36.13%, rgba(255, 235, 231, 0.50) 109.17%);
}

.header-w {
  width: calc(100% + 96px);
  margin-left: -48px;
  margin-right: -48px;

  @apply xl:w-full xl:mx-auto
}

.header-menu a.active {
  position: relative;

  &:before {
    content: '';
    position: absolute;
    top: -5px;
    right: -7px;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    display: block;
    background: url("__IMAGE_PATH__red-dot.svg") no-repeat center;
  }

  @apply text-Red
}

.blur-effect {
  backdrop-filter: blur(10px);
}

.max-w-screen {
  max-width: 100vw !important;
}

//
//.lg-w-header {
//  width: calc(100% - 40px) !important;
//}

// Table Style Start

.custom-table {

  th {
    padding: 20px;
    color: white;
    @apply uppercase text-body font-bold tracking-24 text-left lg:text-[11px] lg:leading-[120%] lg:p-3 lg:tracking-[1.65px]
  }

  td {
    padding: 24px 20px;
    @apply lg:px-3 lg:py-4

  }

  tbody tr:last-child td {
    border-bottom: none;
  }

  tbody td {
    border-right: 1px solid #05093E1A;
    border-bottom: 1px solid #05093E1A;

    &:last-child {
      border-right: none;
    }
  }
}

.custom-w {
  width: calc(100% + 64px) !important;
  margin-left: -32px;
  margin-right: -32px;
}

@media (max-width: 1023.98px) {

  .custom-w {
    width: 100% !important;
    margin-left: 0;
    margin-right: 0;
  }

}

// Table Style End