// Footer Style Start

.bg-footer {
  background: url("__IMAGE_PATH__bg-footer.png") lightgray 50% / cover no-repeat;
  background-size: cover;
}

// Footer Style End

// Blog Card Style Start

.swiper-blog-post {
  @apply py-5;

  .swiper-slide {
    height: auto;
  }

  .swiper-button-next,
  .swiper-button-prev {
    @apply text-green-500;

    &:hover {
      @apply text-green-500;
    }

    @screen lg {
      @apply hidden;
    }
  }

  @screen lg {
    @apply overflow-visible;
  }
}

// Blog Card Style End

// Button with arrow Style Start

.button {

  &.btn-white {
    @apply bg-white text-Red hover:bg-Grey border-[1.5px] border-Red hover:shadow-v3 hover:border-Red2 hover:text-Red2 active:border-Error active:text-Error;
  }

  &.medium-btn {
    @apply h-[48px]
  }

  &.disabled {
    @apply bg-Grey hover:bg-Text;
  }

  &.width-full {
    @apply w-full;
  }

  &.width-auto {
    @apply min-w-[0px]
  }

  @apply h-[56px] min-w-[119px] w-fit flex items-center justify-center rounded-full
  text-white text-body text-center whitespace-nowrap font-semibold bg-Red transition-all hover:bg-Red2 active:bg-Error disabled:bg-Red2 disabled:cursor-not-allowed;
}

// Button with arrow Style End

// Checkbox Style Start

.category-menu {
  @apply transition-all duration-300;

  @screen lg {
    @apply fixed top-0 -left-[100%] w-[80vw] h-full min-h-screen bg-white z-50 flex flex-col p-6 overflow-y-auto;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);

    &.active {
      @apply left-0;
    }
  }
}

.filter-button {
  @apply transition-all hover:bg-green-500;
}

// Checkbox Style End

// Pagination Style Start


// Pagination Style End

// FAQ Style Start


// FAQ Style End

// Mega Menu Header Style Start

.show-mobile-menu {
  &__list {
    @apply lg:hidden
  }

  &.active {
    @apply left-0
  }

  @apply transition-all duration-300 lg:overflow-y-auto lg:fixed lg:top-0 lg:-left-[100%] lg:w-[100vw] lg:h-full lg:min-h-screen lg:bg-white lg:z-50 lg:flex lg:flex-col lg:gap-10 lg:py-[38px] lg:pt-[30px] lg:px-[22px];

  ul {
    @apply lg:flex-col lg:items-start lg:gap-y-[15px]
  }
}

// Mega Menu Header Style End

// Splide slider Start


// Splide slider End

// Text Block Style Start


// Text Block Style End

.main-title {
  @apply text-h2 font-bold md:text-h2Mob
}

.section {
  @apply py-24 lg:py-10
}

.Border-wave {
  background: url("../img/icons/Border-wave.svg") repeat-x center;
  background-size: 41px 10px;
  display: block;
  width: 100%;
  height: 10px;
}

.blue-text a {
  color: #004ED5 !important;
}

// Text Content Start
.text-content {

  p {
    @apply text-base md:text-body text-blue-100 font-medium
  }

  ol {
    @apply list-decimal text-base text-blue-100 font-medium pl-6
  }

  ul {
    @apply list-disc text-base text-blue-100 font-medium pl-6
  }

  h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    @apply font-bold mb-4 block
  }
}

.text-content--tou {
  h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    @apply text-Grey2 font-semibold
  }
}

// Text Content End

//
.active-tag {

  span {
    @apply text-blue-100 font-semibold
  }

  @apply border-blue-100
}

//

.alphabet-list > div {
  max-width: calc(25% - 24px);
  width: 100%;

  @media (max-width: 1023.98px) {
    max-width: calc(33% - 20px);
  }

  @media (max-width: 767.98px) {
    max-width: calc(50% - 16px);
  }

  @media (max-width: 639.98px) {
    max-width: 100%;
  }
}

.checkboxes-alphabet-list {
  overflow: inherit;

  input {
    @apply hidden
  }

  label {
    @apply w-10 min-w-10 h-10 flex items-center justify-center border border-Grey2 rounded-full overflow-hidden bg-white cursor-pointer
  }

  .swiper-slide {
    width: auto;
  }

  @apply flex flex-wrap gap-2 mx-auto w-full justify-center mt-10
}

.checkboxes-alphabet-list label {
  display: flex;
  align-items: center;
  justify-content: center;
}

.checkboxes-alphabet-list label.bg-blue-500 {
  background-color: #32CDD7; /* Синий фон при активации */
  border-color: #32CDD7;
  color: #fff;
}

/* Стиль для отключенных кнопок */
.checkboxes-alphabet-list input:disabled + span {
  background-color: #F9FBFF; /* Серый фон для отключенной кнопки */
  color: #05093E1A; /* Текст серого цвета */
  cursor: not-allowed;
}

// Pagination Start

.pagination-button {
  &--disabled {
    @apply bg-transparent
  }

  @apply w-12 h-12 min-w-12 flex items-center justify-center rounded-full overflow-hidden border border-Grey text-none bg-blue-100 disabled:bg-transparent hover:cursor-pointer
}

// Pagination End

.inactive-tag {
  span {
    @apply text-blue-100 font-medium
  }

  @apply border-Grey2
}

// swiper Start
.custom-swiper-2 {
  overflow: inherit;
}

.condition-swiper {
  overflow: inherit;

  .swiper-slide {
    height: auto;
  }

  @media (max-width: 639.98px) {
    .swiper-slide {
      width: auto;
    }
  }
}

.swiper-zoom-container {
  img {
    @apply hover:cursor-zoom-in
  }
}

.gallery-swiper-big {

  .swiper-slide {
    @apply rounded-6xl overflow-hidden border border-Grey2 flex justify-center items-center
  }

  img {
    @apply object-center object-cover max-h-[448px] bg-white
  }
}

.gallery-swiper {
  .swiper-slide {
    @apply rounded-2xl overflow-hidden border border-Grey2 flex justify-center items-center cursor-pointer
  }

  img {
    @apply object-center object-cover max-h-[448px] bg-white
  }
}

.swiper-blog {
  overflow: inherit;

  .swiper-slide {
    height: auto;
  }

  @media (max-width: 1023.98px) {
    .swiper-slide {
      width: auto;
    }
  }
}

.swiper-block-2 {
  .swiper-block-2__arrow-block {
    .swiper-button-prev, .swiper-button-next {
      position: static;
      margin: 0;
    }

    .swiper-button-prev.swiper-button-disabled, .swiper-button-next.swiper-button-disabled {
      .slider-arrow--noActive {
        @apply block
      }

      .slider-arrow--active {
        @apply hidden
      }

      @apply opacity-100 bg-white border-Grey2
    }

    .swiper-button-prev svg, .swiper-button-next svg {
      @apply w-[9px] h-[14px]
    }

    .swiper-button-prev, .swiper-button-next {

      .slider-arrow--noActive {
        @apply hidden
      }

      .slider-arrow--active {
        @apply block
      }

      bottom: 0;
      top: auto;
      z-index: 10;
      @apply w-12 h-12 min-w-12 flex items-center justify-center rounded-lg overflow-hidden bg-blue-100 border border-blue-100
    }

    .swiper-button-prev:after, .swiper-button-next:after {
      display: none;
    }
  }
}

// swiper End

//Other
.info-card-block {
  &.active {
    @apply bg-blue-100 text-white
  }
}

.hero-bg:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgba(5, 9, 62, 0.50) 0%, rgba(5, 9, 62, 0.50) 100%);
}

.top-line {
  @apply relative
}

.top-line:before {
  content: '';
  position: absolute;
  right: -12px;
  top: 50%;
  transform: translateY(-50%);
  border-right: 1px solid #05093E1A;
  height: 20px;
  display: block;

  @apply lg:-right-2
}

.w-text {
  max-width: calc(100% - 40px);
}

.icon-40 {
  @apply md:w-10 md:h-10
}

.icon-40-lg {
  @media (max-width: 1023.98px) {
    width: 40px !important;
    height: 40px !important;
  }
}

.icon-72 {
  @media (max-width: 1023.98px) {
    width: 72px !important;
    height: 72px !important;
  }
}

.icon-16 {
  @apply md:w-4 md:h-4 md:min-w-4
}

.icon-25 {
  @apply md:w-[25px] md:h-[25px] md:min-w-[25px]
}

.display-flex {
  display: flex !important;
}

.menu-item-active {
  position: relative;

  &:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% - 10px);
    display: block;
    border-bottom: 2px solid #3D65FF;
  }
}

.consultation-list {
  .consultation-list__item:not(:last-child) {
    padding-bottom: 32px;
    border-bottom: 1px solid #05093E1A;
    margin-bottom: 24px;
  }
}

.outlined-text {
  color: white;
  -webkit-text-stroke: 1px #58C19B;
}

.special-ul {
  padding-left: 0 !important;
  margin-bottom: 0 !important;
}

.no-underline {
  text-decoration: none !important;
}

.bottom-line {
  position: relative;

  &:before {
    content: '';
    position: absolute;
    bottom: -16px;
    left: 0;
    width: 60px;
    display: block;
    border-bottom: 2px solid #58C19B;
  }
}

.pagination-btn {

  &.active {
    @apply bg-green-500 text-white lg:w-6 lg:min-w-6
  }

  @apply hover:bg-green-500 hover:text-white transition-all w-[50px] min-w-[50px] h-[50px] rounded-full flex items-center justify-center border border-blue-500 lg:text-none lg:w-4 lg:h-4 lg:min-w-4 lg:bg-Grey
}

.collapse-block {
  a {
    @apply text-DarkGrey
  }
}

.testimonials-section {
  .testimonials-section__swiper-btn-group {
    @apply lg:hidden flex items-center justify-between
  }

  .swiper-button-next.swiper-button-disabled, .swiper-button-prev.swiper-button-disabled {
    @apply bg-white opacity-100
  }

  .swiper-button-next:after, .swiper-button-prev:after {
    display: none;
  }

  .swiper-button-next, .swiper-button-prev {
    @apply w-[60px] h-[60px] lg:w-[50px] lg:h-[50px] lg:min-w-[50px] relative top-auto bottom-auto left-auto right-auto m-0 flex items-center justify-center rounded-full bg-green-500
  }

  .swiper-button-prev {
    background: #58C19B url("__IMAGE_PATH__arrow-white.svg") no-repeat center;
    background-size: 18px 12px;
  }

  .swiper-button-next {
    background: #58C19B url("__IMAGE_PATH__arrow-white.svg") no-repeat center;
    background-size: 18px 12px;
    transform: rotate(180deg);
  }

  .swiper-button-next.swiper-button-disabled {
    background: #ffffff url("__IMAGE_PATH__arrow.svg") no-repeat center;
    background-size: 18px 12px;
    transform: rotate(180deg);
  }

  .swiper-button-prev.swiper-button-disabled {
    background: #ffffff url("__IMAGE_PATH__arrow.svg") no-repeat center;
    background-size: 18px 12px;
  }

  .swiper-slide {
    height: auto;
  }

  .swiper-pagination {
    top: calc(100% - 30px) !important;
  }

  .swiper-pagination-bullet {
    width: 16px;
    height: 16px;
    background: #A9B1B3;
    opacity: 1 !important;
  }

  .swiper-pagination-bullet-active {
    background: #58C19B;
    width: 25px;
    border-radius: 20px;
  }
}

.swiper-custom {

  .swiper-button-next.swiper-button-disabled, .swiper-button-prev.swiper-button-disabled {
    @apply bg-white opacity-100
  }

  .swiper-button-next:after, .swiper-button-prev:after {
    display: none;
  }

  .swiper-button-next, .swiper-button-prev {
    @apply w-[60px] h-[60px] lg:w-[50px] lg:h-[50px] lg:min-w-[50px] relative top-auto bottom-auto left-auto right-auto m-0 flex items-center justify-center rounded-full bg-green-500
  }

  .swiper-button-prev {
    background: #58C19B url("__IMAGE_PATH__arrow-white.svg") no-repeat center;
    background-size: 18px 12px;
  }

  .swiper-button-next {
    background: #58C19B url("__IMAGE_PATH__arrow-white.svg") no-repeat center;
    background-size: 18px 12px;
    transform: rotate(180deg);
  }

  .swiper-button-next.swiper-button-disabled {
    background: #ffffff url("__IMAGE_PATH__arrow.svg") no-repeat center;
    background-size: 18px 12px;
    transform: rotate(180deg);
  }

  .swiper-button-prev.swiper-button-disabled {
    background: #ffffff url("__IMAGE_PATH__arrow.svg") no-repeat center;
    background-size: 18px 12px;
  }

  .swiper-slide {
    height: auto;
  }

  .swiper-pagination {
    top: calc(100% - 30px) !important;
  }

  .swiper-pagination-bullet {
    width: 16px;
    height: 16px;
    background: #A9B1B3;
    opacity: 1 !important;
  }

  .swiper-pagination-bullet-active {
    background: #58C19B;
    width: 25px;
    border-radius: 20px;
  }
}

@media (max-width: 1023px) {
  .swiper-custom {
    padding-bottom: 56px !important;
  }
}

.how-work-slider, .swiper-blog-post {
  padding-bottom: 0 !important;
}

.w-130 {
  width: 300px !important;
}

.pg1 {
  position: relative !important;
  left: auto !important;
  right: auto !important;
  bottom: auto !important;
  top: auto !important;
  transform: none !important;
}

.text-block ol {
  list-style: none !important;

  li {
    position: relative;
    padding-left: 20px;
  }
}

.text-block ol li:before {
  content: '';
  position: absolute;
  background: url("__IMAGE_PATH__list-icon-check30.svg") no-repeat center;
  background-size: 30px 30px;
  width: 30px;
  height: 30px;
  top: -3px;
  left: -25px;
  display: block;
}

.bg-gradient-1 {
  background: linear-gradient(180deg, #FFF 0%, #FAF9FB 56.73%, rgba(255, 235, 231, 0.50) 100%);
}
