h1, .h1 {
  @apply text-h1 md:text-Top1
}

h2, .h2 {
  @apply text-h2 md:text-Top3
}

h3, .h3 {
  @apply text-h3 md:text-base
}

h4, .h4 {
  @apply text-h4 md:text-body
}

h5, .h5 {
  @apply text-Top1
}

h6, .h6 {
  @apply text-Top3
}

p {
  @apply text-body md:text-body
}

.main-ul {
  @apply list-disc pl-6 text-Grey flex flex-col gap-y-2
}

.text-block {
  h1, .h1 {
    @apply text-Top4 md:text-h2Mob
  }

  h2, .h2 {
    @apply text-Top5 md:text-Top1
  }

  h3, .h3 {
    @apply text-Top2 md:text-Top3
  }

  h4, .h4 {
    @apply text-base md:text-body
  }

  h5, .h5 {
    @apply text-body
  }

  h6, .h6 {
    @apply text-body2
  }

  h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    @apply font-extrabold leading-normal text-Grey my-3
  }

  a {
    @apply text-Red
  }

  ul {
    @apply list-disc pl-6 text-body text-Grey leading-[24px] flex flex-col gap-y-[10px]
  }

  ol {
    li {
      @apply pl-2
    }

    @apply flex flex-col gap-y-4 text-body text-Grey list-image-[url(__IMAGE_PATH__list-icon-check30.svg)] pl-6 leading-[24px]
  }

  p {
    @apply text-body text-Grey font-medium mb-5
  }

  blockquote {
    &:before {
      content: '';
      @apply border-b-2 w-[50px] mb-5 absolute top-[50px] left-10 lg:left-4 lg:top-[37px]
    }

    &:after {
      content: '';
      background: url("__IMAGE_PATH__sqw.svg") no-repeat center;
      background-size: contain;
      @apply absolute top-0 right-[30px] lg:max-w-[124px] lg:-top-7 block w-[170px] h-[80px]
    }

    @apply flex flex-col gap-y-4 pt-[82px] px-10 py-[50px] relative bg-Grey2 rounded-7xl lg:px-4 lg:py-5 lg:pt-[50px] overflow-hidden
  }
}

.text-block2 {
  h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    @apply mb-2 font-medium
  }

  a {
    @apply underline
  }

  ul {
    @apply list-disc pl-6 text-body
  }
}
